#header-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
  height: 122px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.hero-container {
  position: relative;
  top: -90px;
}
.hero-container .no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.hero-container .header-bkgd-img {
  background-color: #999;
  background-size: cover;
  background-image: none;
  background-attachment: fixed;
  background-position: center center;
  max-height: 1200px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  top: 0;
}
.hero-container .header-bkgd-img .background-image {
  display: block;
  width: 100%;
  height: auto;
}
.hero-container .background-seal {
  position: absolute;
  top: 74px;
  left: -3%;
  max-height: 1180px;
  height: 90%;
  width: auto;
}
.homepage-carousel-container {
  position: absolute;
  bottom: 0;
  height: 80%;
  z-index: 9;
}
.homepage-carousel-container .homepage-header-carousel #carousel-homepage .carousel-inner .item-cutout .cutout-text {
  color: rgba(255, 255, 255, 0.6);
}
.homepage-carousel-container .homepage-header-carousel #carousel-homepage .carousel-inner .item-cutout .cutout-text h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 35px;
  font-style: italic;
}
.homepage-carousel-container .homepage-header-carousel #carousel-homepage .carousel-inner .item-cutout .cutout-text p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
.homepage-carousel-container .homepage-header-carousel #carousel-homepage .carousel-inner .item-cutout .cutout {
  padding-right: 0;
}
.homepage-news-container .news-content h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #004a8d;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 26px;
  text-align: center;
  margin-bottom: 40px;
}
.homepage-news-container .news-content p {
  color: #767676;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-align: center;
}
.homepage-news-container a {
  text-decoration: none;
  color: #fff;
}
.homepage-news-container a:hover {
  color: #e7a512;
}
.homepage-news-container a .news-item {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 60px;
  position: relative;
  height: 238px;
}
.homepage-news-container a .news-item .news-content-container {
  padding: 20px 20px;
  position: absolute;
  bottom: 0px;
}
.homepage-news-container a .news-item .news-content-container .news-tag {
  margin-top: 50px;
}
.homepage-news-container a .news-item .news-content-container .news-tag .label {
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 10px;
  padding: 7px;
}
.homepage-news-container a .news-item .news-content-container .news-tag .label-primary {
  background-color: #e7a512;
}
.homepage-news-container a .news-item .news-content-container .news-tag .label-default {
  background-color: #5eaade;
}
.homepage-news-container a .news-item .news-content-container .news-header {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 800;
  margin-top: 10px;
}
.homepage-news-container a .news-item .news-content-container .news-content {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
